<!DOCTYPE html>
<html>
<head>
    <title>Schedule Detail</title>
</head>
<body>

<h1>Schedule Detail</h1>

<strong>{{ schedule.schedule_id }}</strong>
<strong>{{ schedule.title }}</strong><br>
{{ schedule.description }}<br>

<a href="{% url 'create_cell' schedule_id=schedule.schedule_id %}">
    <button>New</button>
</a>


<h2>Cells:</h2>
{% if cells %}
    <ul>
        {% for cell in cells %}
            <li>
		    <iframe src="https://nycply.duckdns.org/select_button" width="600" height="400"></iframe> 
                <!-- Add more details as needed -->
            </li>
            <br>
        {% endfor %}
    </ul>
{% else %}
    <p>No cells available.</p>
{% endif %}

</body>
</html>
